<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="gx10.xdsml.api.impl.GX10CodeExecutor" modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="fr.mleduc.gx10.xdsml.GX10" solver_class="org.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/fr.mleduc.gx10.dse/qvto-gen/modeling/GX10.qvto" xdsmlFilePath="/fr.mleduc.gx10.xdsml/bin/fr/mleduc/gx10/xdsml/GX10.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="fr.mleduc.gx10.xdsml.GX10MT" uri="http://gx10mt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Program:gx10.aspects.ProgramAspect;Statement:gx10.aspects.StatementAspect;IntExpression:gx10.aspects.IntExpressionAspect;True:gx10.aspects.TrueAspect;IntVarAccess:gx10.aspects.IntVarAccessAspect;While:gx10.aspects.WhileAspect;Method:gx10.aspects.MethodAspect;False:gx10.aspects.FalseAspect;IntVar:gx10.aspects.IntVarAspect;MethodCall:gx10.aspects.MethodCallAspect;IntConst:gx10.aspects.IntConstAspect;BoolVar:gx10.aspects.BoolVarAspect;BoolExpression:gx10.aspects.BoolExpressionAspect;Print:gx10.aspects.PrintAspect;Not:gx10.aspects.NotAspect;BoolVarAccess:gx10.aspects.BoolVarAccessAspect;Expression:gx10.aspects.ExpressionAspect;Async:gx10.aspects.AsyncAspect;And:gx10.aspects.AndAspect;Block:gx10.aspects.BlockAspect;Plus:gx10.aspects.PlusAspect;Finish:gx10.aspects.FinishAspect;If:gx10.aspects.IfAspect;ControlStructure:gx10.aspects.ControlStructureAspect" entryPoints="" exactType="fr.mleduc.gx10.xdsml.GX10MT" id="fr.mleduc.gx10.xdsml.GX10" uri="http://gx10mt/">
      <adapter class="fr.mleduc.gx10.xdsml.gx10.adapters.gx10mt.GX10Adapter" modeltypeId="fr.mleduc.gx10.xdsml.GX10MT" />
    </language>
  </extension>
</plugin>
