/Gx10FactoryAdapter.java
/.Gx10FactoryAdapter.java._trace
/.ControlStructureAdapter.java._trace
/.IfAdapter.java._trace
/WhileAdapter.java
/.ExpressionAdapter.java._trace
/FinishAdapter.java
/.BoolVarAdapter.java._trace
/.PrintAdapter.java._trace
/BoolVarAdapter.java
/PrintAdapter.java
