<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gseq -->
      <package
            uri="http://mleduc.fr/gseq"
            class="gseq.GseqPackage"
            genModel="model/gseq.genmodel"/>
   </extension>

</plugin>
