<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gseq -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="gseq.presentation.GseqModelWizardID"
            name="%_UI_GseqModelWizard_label"
            class="gseq.presentation.GseqModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GseqModelFile.gif">
         <description>%_UI_GseqModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gseq -->
      <editor
            id="gseq.presentation.GseqEditorID"
            name="%_UI_GseqEditor_label"
            icon="icons/full/obj16/GseqModelFile.gif"
            extensions="gseq"
            class="gseq.presentation.GseqEditor"
            contributorClass="gseq.presentation.GseqActionBarContributor">
      </editor>
   </extension>

</plugin>
